/* general styling */
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

.container {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.container > * {
    border: 1px solid black;
}

/* grid styling */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 70% 10%;
}

header, footer {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    grid-column: span 4;
}

