/* name selector */

html {
    border: 1px solid blue;
}
body {
    border: 1px solid red;
}

h1 {
    color: green;
    background-color: yellow;
}

p {
    color: red;
    border: 1px dotted blue;
}

/* class selector */

.cool-design {
    color: blue;
    background-color: red;
}


.cool-design-big {
    font-size: xx-large;
    font-weight: bold;
    color: green
}

/* id selector */

#last-paragraph {
    font-size: xx-small;
    text-decoration: underline;
    font-style: italic;
}

/* attribute selector */

input[placeholder] {
    background-color: yellow;
}

input[placeholder="first name"] {
    border: 3px dashed;
}

/* pseudo selector */
a {
    color: yellow
}

a:visited {
    color: red;
}

a:hover {
    color: green;
    font-size: x-large;
}

p::first-line {
    background-color: blueviolet;
}

p::first-letter {
    font-size: x-large;
    color: cyan;
}

span {
    color: brown
}

/* combination of selectors */

/* a p that has a cool-design class */
p.cool-design {
    text-decoration: underline;
}

/* both html and body tags will be applied with this css*/
html, body {
    margin: 0;
    padding: 0;
}

/* all a tags that have a p tag as a parent somewhere*/
p a {
    color: black
}

p > a {
    border: 3px dashed grey;
}




