.Layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
}

.Layout > header {
    grid-column: 1;
    grid-row: 1;
}

.Layout > footer {
    grid-column: 1;
    grid-row: 3;
}

.Layout > main {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
}

.Layout > * {
    border: 1px dashed lightcoral;
}
