#tasks {
    display: flex;
    flex-direction: row;
}

.task {
    background-image: '';
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border: 1px solid blue;
}

.task > div:nth-child(2) {
    overflow-y: scroll;
}

.task > div:nth-child(1) {

    display: flex;
    flex-direction: row-reverse;
}

.task > div > img {
    width: 16px;
    display: none;
}

.task:hover > div > img {
    display: block;
}

.task > div > img:hover {
    cursor: pointer;
}
