

body > div {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
}

body > div > div {
    font-size: x-large;
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    background-color: lightpink;
}

