/*  general CSS properties  */

/*
p {
    color: blue;
    font-size: 12px;
}

+

p {
    color: green;
    font-style: italic;
}

= 

p {
    color: green;
    font-size: 12px;
    font-style: italic;
}

*/ 

div {
    height: 50px;
    border: 1px solid black;
    background-color: lightgreen;
    margin: 10px;
}

p {
    margin: 0;
    font-size: x-large;
    border: 1px solid red;
    background-color: lightblue;
    text-align: center;
}

/*  flex CSS properties  */

/* 1st line */
div:nth-child(1) {
    display: flex;
}

div:nth-child(1)>p {
    flex-basis: 20%;
}

/* 2nd line */

div:nth-child(2) {
    display: flex;
}

div:nth-child(2) > p {
    flex: 1;
}

div:nth-child(2) > p:nth-child(3) {
    flex: 10;
}

div:nth-child(2) > p:nth-child(5) {
    flex: 2;
}

/* 3rd line */
div:nth-child(3) {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;
}

div:nth-child(4) {
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

